.col-md-8 {
    margin-top: 3rem;
}

.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}

.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.button-container {
    margin-top: auto;
}

.contact-link {
    display: flex;
    align-items: center;
}

.contact-link img.icon {
    margin-right: 9px;
    vertical-align: -2px;
}

.name {
    margin-bottom: 20px;
}

.social-links {
    margin-top: 30px;
}

.card {
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .fixed-posi {
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .col-md-8 {
        margin-top: 1rem;
    }

    .top-part{
        align-items: center;
    }
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 35%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .menur {
        padding-top: 18px !important;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        text-align: center;
    }

    .card {
        min-height: 220px;
        height: auto;
        width: 95%;
        margin: 2px auto;
    }

    .contact-link {
        margin: 0px 5px;
    }

    .contact-link a {
        display: flex;
        align-items: center;
    }

    .contact-link a span {
        display: none;
    }

    .contact-link img.icon {
        width: 20px;
        height: 20px;
    }

    .social-links {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap; /* Prevent wrapping */
    }

    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profilepic {
        width: 125px;
        border-radius: 35%;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .recs {
        text-align: center;
    }
}